html,
body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to left, rgb(224, 224, 224), rgb(236, 255, 232)); */
  background: linear-gradient(to left, rgb(219, 185, 250), rgb(164, 211, 255));
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.heading--primary {
  font-size: 36px;
  letter-spacing: 2px;
  margin-top: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(170, 169, 169, 0.5);
}

.heading--secondary {
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgba(189, 188, 188, 0.5);
}

.heading--primary,
.heading--secondary,
.book__body--detail,
.initial-msg,
.loading-msg {
  color: rgb(75, 75, 75);
}

.action__container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-bar {
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 10px 5px 10px 0;
  padding: 5px;
  padding-left: 10px;
  width: 240px;
  height: 20px;
}

.btn {
  /* background-color: rgb(36, 192, 36); */
  background-color: rgb(83, 86, 255);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.btn:hover {
  /* background-color: rgb(1, 139, 1); */
  background-color: rgb(50, 9, 197);
}

.btn:active {
  background-color: rgb(100, 115, 248);
  /* background-color: rgb(126, 250, 126); */
}

.search-btn {
  margin: 10px 0;
  width: 80px;
}

.loading-msg,
.error-msg {
  font-size: 18px;
}

.loading-msg {
  font-weight: bold;
}

.error-msg {
  color: rgb(167, 3, 85);
}

/* Books */

.books__container,
.book__box {
  margin: 0;
  padding: 0;
}

.books__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.book__box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 20px rgba(194, 194, 194, 0.5);
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  /* min-width: 270px; */
  width: 280px;
  height: auto;
}

.book__header {
  display: block;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.heading--secondary {
  font-size: 18px;
  margin: 5px;
}

.book__body {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 5px;
  align-items: center;
  height: auto;
}

.book__body--detail {
  font-size: 15px;
}

.book__image-container {
  display: flex;
  align-items: center;
}

.book__details-container {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  padding: 0 15px;
  word-break: break-word;
}

.book-thumbnail {
  align-items: center;
  width: 110px;
}

.book-thumbnail--img {
  display: block;
  margin: 0 auto;
}

.book-thumbnail--missing {
  display: flex;
  height: 150px;
  background-color: rgb(231, 231, 231);
}

.book-link-btn {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 130px;
}
